* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: D-DIN;
  src: url('../static/D-DIN.TTF'), url('../static/D-DINCONDENSED.TTF');
}
html {
  font-size: 14.225px;
  font-family: D-DIN;
  color: #000;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
